.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* Backgrounds & colored buttons */

/* Text colors */

/* Text sizes */

/* Alert */

/* Margin */

/* Padding */
